body, html {
    height: 100%;
}
a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}
p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px; }

ul {
  padding: 0;
  margin: 0;
}

.section {
  padding: 100px 0; 
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    font: 14px/22px 'Source Sans Pro', sans-serif, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    
    display: grid;
    grid-template-columns: auto 27% 27% 27%;
    grid-template-rows: auto 90vh auto  10vh;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar sect1 sect1 sect1"
        "sidebar main main main"
        "sidebar footer footer footer"

}



aside {
    grid-area: sidebar;
    background: #355C7D;
    z-index: 1001;
}

header {
    grid-area: header;
}


section:nth-of-type(1){
    grid-area: sect1;
}

main {
    grid-area: main;
    background: #f8f8f8;
}
footer {
    grid-area: footer;
    background: #588EC3;
}

@media (min-width: 768px) and (max-width: 990px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3); }
    .navigation .navbar-brand {
      float: none; } 
}

.container {
    margin: 0;
    position: relative;
    width: 100%;
}

.container .navigation {
    position: fixed;
    top: 0;
    left: 19%;
    width: 81%;
    float: right;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin: 0;
    border: 0; 
}
  .navigation .navbar-brand {
    padding-top: 5px;
    display: inline-block; 
}
  .navigation .navbar-toggler {
    background: #fff;
    outline: none;
    border-radius: 0;
    float: right; }
    .navigation .navbar-toggler i {
      font-size: 22px; }

.navigation.animated {
  background-color: #fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15); }
  .navigation.animated .menu a {
    color: #666; }

.menu li a {
  color: #333;
  font-size: 16px;
  font-weight: bold; 
  font-family: "Source Sans Pro", sans-serif, Helvetica, Arial, sans-serif;
}
  .menu li a:hover, .menu li a:focus {
    background: none; 
}



.carousel-caption {
  margin-bottom: 70px; 
}
.carousel-caption h1 {
  font-size: 55px;
}
.carousel-caption p {
  width: 240px;
  background-color: #00AEEF;
  padding: 10px;
  margin-top: 50px;
}
#myCarousel .item {
  overflow: hidden;
}

#myCarousel .item img {
  width: 100%;
  height: 90vh;
  animation-name: zoomin;     
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes zoomin {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

.section {
  padding: 100px 0; }
    .service {
       text-align: center; }
    .service .block {
        margin-bottom: 50px; 
    }
    .service .block i {
        font-size: 30px;
        display: inline-block;
        margin-bottom: 15px;
        color: #1bafb4; 
    }
    .service .block h3 {
        color: #333333;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        text-transform: uppercase; 
    }
    .service .block p {
        color: #666;
}

footer {
  text-align: center;
  background: #fff;
  padding: 27px 0px; }
  footer p {
    font-weight: 300;
    font-size: 12px;
    color: #333;
    letter-spacing: 3px; }
    footer p a {
      color: #333; }
      footer p a:hover {
        color: #333;
        text-decoration: none; 
}


@media (max-width: 768px) {
    body {
        grid-template-areas: 
            "header header header"
            "sect1 sect1 sect1"
            "main main main"
            "footer footer footer"
    }

    aside {
      display: none;
    }
    section:nth-of-type(1) {
      width: 100vw;
    }
    .carousel-caption {
      margin-bottom: 0px; 
    }
    .carousel-caption h1 {
      font-size: 35px;
    }
    .carousel-caption p {
      width: 220px;
      padding: 8px;
      margin-top: 40px;
    }
    .container .navigation {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

}

